<!doctype html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="static/css/wi-finder.css">
<title>about</title>
</head>
<body>

<div class="container">
	<img id="team7" src="static/images/team7.jpeg" alt="no team7 :<">
	<p id="team7info">This is James, Saerom, Nader, and Ace. They won a printer at a raffle.</p>
	<a id="back" class="btn btn-info" role="button" href="/">Find More Wi-Fi</a>

</div>

</body>

</html>