<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no">
    <title>WiFinder</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="static/css/wi-finder.css">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>

  <body>

<div class="container">
  
  <div id="wifinder">
    <div id="title">Find Wi-Fi Hotspots</div>
    <button id="button" class="btn btn-primary" role="button" onclick="getLocation()">My Location</button>
    <form id="host-form" role="form" onsubmit="showSpinner()" action="/wifi">
        <div class="form-group" style="display:inline;">
            <div class="input-group">
                <input type="text" class="form-control" style="border-bottom-left-radius: 4px;border-top-left-radius: 4px;" name="address" id="searchTextField" placeholder="Enter Address" value="">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </form>
    <div id="map-canvas"></div>
  </div>

  <img id="snorlax" src="static/images/snorlax.png" alt="no snorlax :<">
  <div id="spinner" class="spinner" style="display:none">
    <div class="dot1"></div>
    <div class="dot2"></div>
  </div>
  <a id="about" href="/about">about</a>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9dGZjAQMir1xyszhIdtsHq4LisfTNURA"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
<!--<script src="static/js/wi-finder.js"></script>-->
<script>

function showSpinner() {
    $('#spinner').show();
}

var x = document.getElementById("location_info");
var input = document.getElementById('searchTextField');
var options = {
  types: ['geocode']
};

autocomplete = new google.maps.places.Autocomplete(input, options);
    
function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
        showSpinner();
    } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
    //x.innerHTML = "Latitude: " + position.coords.latitude + 
    //"<br>Longitude: " + position.coords.longitude;
    window.location.href = "/wifi?latitude=" + position.coords.latitude + "&longitude=" + position.coords.longitude;
}

function initialize() {
    var HomePos = new google.maps.LatLng(37.8717, -122.2728);
    var mapOptions = {
        center: HomePos,
        zoom: 15
    };
    var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
}

function mark_wifis() {
    var bounds = new google.maps.LatLngBounds();
    var infoWindow = new google.maps.InfoWindow();
    var mapOptions = {
        zoom: 17
    };
    var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    var wifiPos
    var wifiMarks = {}
    var markCount = 0
    for (var i = 0; i < result_list.length; i++) {
        wifiPos = new google.maps.LatLng(result_list[i]['latitude'], result_list[i]['longitude']);
        wifiMarks["wifiMark" + i] = new google.maps.Marker({
            position: wifiPos,
            map: map,
            title: result_list[i]['name']
        });
        markCount++;
        //console.log(markCount);
        if (markCount <= 3) {
            //console.log("bound extended");
            bounds.extend(wifiPos);
        }
        google.maps.event.addListener(wifiMarks["wifiMark" + i], 'click', (function(marker, i) {
            return function() {
                content = result_list[i]["name"] + ": <a href=" + result_list[i]["url"] + ">" + result_list[i]["url"] + "</a>";
                infoWindow.setContent(content);
                infoWindow.open(map, marker);
            }
        })(wifiMarks["wifiMark" + i], i));
    }
    map.fitBounds(bounds);
}

result_list = {{ stuff|safe }}

if (result_list.length) {
    //console.log(result_list[0]);
    google.maps.event.addDomListener(window, 'load', mark_wifis);
} else {
    google.maps.event.addDomListener(window, 'load', initialize);
}

</script>
</body>
</html>
